/* remove thic comment to add @import font or CSS variables at the top of this file */
* {
  box-sizing: border-box;
}

body {
  font-family: "Funnel Sans", serif-sans;
  font-size: 0.625rem;
  line-height: 1.3;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  letter-spacing: .005rem;
  word-spacing: .02rem;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
  font-size: .9rem;
  line-height: 1.5;
}

nav {
  float: left;
  width: 20%;
  font-size: .9rem;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-family: "Hepta Slab", serif;
  text-align: center;
}

h2 {
  letter-spacing: .05rem;
  font-size: 1.5rem;
}

h2+p {
  text-indent: 1.25rem;
}

/* WRITE YOUR styling/typesetting CSS code BELOW HERE */
a:link {
  color: #a66;
}
a:visited {
  color: purple;
}
aside a:hover {
  color: lightblue;
  text-decoration: none;
  font-size: 1.1rem;
}
a:hover {
  color: lightblue;
  text-decoration: none;
}
a:focus {
  color: rgb(6, 6, 98);
  text-decoration: none;
}
a {
  outline: none;
}


a[href^="http"]:after, a[href^="https://"]:after {
  content: "";
  width: 7px;
  height: 7px;
  margin-left: 2px;
  background-image: url(https://w7.pngwing.com/pngs/343/347/png-transparent-link-external-feather-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

section p, ul, ol {
  font-size: .9rem;
  line-height: 1.5;
}
section ul {
  list-style: square;  
}
aside ul {
  list-style: square;
}

nav ul {
  list-style: none;
}
nav li {
  font-family: "Hepta Slab", serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
nav a {
  display: block;
  padding: 5px;
  text-align: center;
  border: 1px solid #a66;
  text-decoration: none;
}
